
/*test to change paragraph text to blue*/ 

p {
	font-style: italic;
}

#redSquare {
	height: 100px;
	width: 100px;
	background-color: ##cc0000 ;
}


#greenSquare {
	height: 100px;
	width: 100px;
	background-color: #00cc00 ;
}


#blueSquare {
	height: 100px;
	width: 100px;
	background-color: ##0080ff ;
}